<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.job.console.dao.XxlJobAppActuatorDao">

    <resultMap id="ResultMap" type="com.xxl.job.console.model.XxlJobAppActuator" >
        <result column="id" property="id" />
        <result column="actuator_id" property="actuatorId" />
        <result column="app_id" property="appId" />
        <result column="res_time_ms" property="resTimeMs" />
    </resultMap>

    <sql id="Base_Column_List">
                `id`,
                `actuator_id`,
                `app_id`,
                `res_time_ms`
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" parameterType="com.xxl.job.console.model.XxlJobAppActuator">
        INSERT INTO xxl_job_app_actuator
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test ='null != id'>
                `id`,
            </if>
            <if test ='null != actuatorId'>
                `actuator_id`,
            </if>
            <if test ='null != appId'>
                `app_id`,
            </if>
            <if test ='null != resTimeMs'>
                `res_time_ms`
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test ='null != id'>
                #{id},
            </if>
            <if test ='null != actuatorId'>
                #{actuatorId},
            </if>
            <if test ='null != appId'>
                #{appId},
            </if>
            <if test ='null != resTimeMs'>
                #{resTimeMs}
            </if>
        </trim>
    </insert>

    <delete id="delete" >
        DELETE FROM xxl_job_app_actuator
        WHERE `id_` = #{id}
    </delete>

    <update id="update" parameterType="com.xxl.job.console.model.XxlJobAppActuator">
        UPDATE xxl_job_app_actuator
        <set>
            <if test ='null != id'>id = #{id},</if>
            <if test ='null != actuatorId'>actuator_id = #{actuatorId},</if>
            <if test ='null != appId'>app_id = #{appId},</if>
            <if test ='null != resTimeMs'>res_time_ms = #{resTimeMs}</if>
        </set>
        WHERE `id_` = #{id}
    </update>

</mapper>